.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .productkey {
    width: 33.33%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .productimage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .productprice {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .productdiscount {
    font-size: 14px;
    color: #888;
  }